* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-size: 15px;
}


.calculator {
    border: 6px solid #282829;
    border-radius: 20px;
    width: 350px;
    height: 480px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    background-color: #111001;
}

.calculator-input {
    width: 100%;
    font-size: 4rem;
    height: 90px;
    width: 338px;
    border-radius: 30px;
    border-width: thick ;
    background-color: #373636;
    color:#fff;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    height: 50px;
    background-color: #fff;
    border-radius: 35px;
    border-width: thick;
    border-color: #2e2e2f;
    background-color:  rgb(70, 71, 73);
    font-size: 25px;
    font-style: initial;
    color: rgb(234, 234, 234);
}

button:hover {
    background-color: #888585;
}

.operator {
    color: #ffffff;
    background-color: #d38404;
}
.operator:hover{
    background-color: #f5be27;
}


.clear {
    background-color: #d6373d;
    border-color: #cd565a;
    color: #fff;
    border-width: thick;
}

.clear:hover {
    background-color: #f17377;
}

.equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    height: 100%;
    grid-area: 2/4/6/5;
}

.equal-sign:hover {
    background-color: #4e9ed4;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;                         
    padding: 20px
}